<!-- template.html -->

<!DOCTYPE html>
<html>
<head>
    <title>PDF Comments</title>
</head>
<body>
    <h1>PDF Comments</h1>
    <table>
        <thead>
            <tr>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody id="comment-table-body">
            <!-- Comments will be dynamically added here -->
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
